@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/all.css";

.fa-times-circle:before {
  color: #ec0404;
}

.fa-plus-circle:before {
  color: #4261ec;
}

.fa-braille:before {
  color: #4261ec;
}

.dropdown-menu{
  left: -40px !important;
}

body{
  margin: 0;
  background-color: #f8f9fa;
}

.title{
  width: 50%;
  margin-left: 25px;
  /*text-align: center;*/
}

.login-form{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.user-info{
  text-align: right;
  width: 20%;
}

.navbar{
  border-bottom: solid 1px;
}

.dropdown-menu{
  min-width: unset;
}

.registration-form{
  width: 100%;
  height: 90%;
  text-align: center;
  margin-top: 20px;
}

.table-row{
  width: 100%;
  margin: 10px;

}

.table-title{
  width: 100%;
}

.dashboard{
  width: 100%;
  height: 90%;
  text-align: center;
}

.leftbar{
  float: left;
  width: 20%;
  border-right: solid 1px black;
  margin-right: -1px;
  /*background-color: aqua;*/
  height: 90vh;
}

.overview{
  float: left;
  width: 80%;
  /*background-color: greenyellow;*/
  height: 90vh;
}

.buttons{
  width: 100%;
  background-color: chartreuse;
  height: 40px;
  display: flex;
  align-items: center;
}

.action-buttons{
  margin-left: 20px;
  min-width: 20%;
}

.object-title{
  margin-right: 200px;
  width: 49%;
  text-align: center;
}

.action-button{
  margin: 5px;
}

