body{
  margin: 0;
}

.formRow{
  margin-left: 10px;
}

.title{
  width: 50%;
  margin-left: 25px;
  /*text-align: center;*/
}

.login-form{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.user-info{
  text-align: right;
}

.navigation-bar{
  width: 100%;
  min-height: 70px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  /*background-color: aquamarine;*/
}

.registration-form{
  width: 100%;
  height: 90%;
  text-align: center;
  margin-top: 20px;
}

.table-row{
  width: 100%;
  margin: 10px;

}

.table-title{
  width: 100%;
}

.dashboard{
  width: 100%;
  height: 90%;
  text-align: center;
}

.leftbar{
  float: left;
  width: 20%;
  border-right: solid 1px black;
  margin-right: -1px;
  /*background-color: aqua;*/
  height: 90vh;
}

.overview{
  float: left;
  width: 80%;
  /*background-color: greenyellow;*/
  height: 90vh;
}

.buttons{
  width: 100%;
  background-color: chartreuse;
  height: 40px;
  display: flex;
  align-items: center;
}

.action-buttons{
  margin-left: 20px;
  min-width: 20%;
}

.object-title{
  margin-left: 20px;
  margin-right: 20px;
  width: 49%;
  text-align: center;
}

.action-button{
  margin: 5px;
}

